

.dark-mode .ceket_container div{
    background-color: #0097A7 !important;
  }




/*pantalon ürünlerinin mobilde düzenlenmesi*/

@media (min-width:320px) and (max-width:767px){
    

 .ceket_container{
     margin: 0px auto;
   width: 100%;
    display: grid;
    grid-template-columns: 1fr  ;/*1 sütun*/
    gap:12px;/*kutular araında her yönden 5px boşluk bırakır*/
  box-sizing: border-box; /*taşmayı önler*/
   
    text-align: center;
    font-size:large;
    font-weight: bold;

}


  
.c_foto {
    background-color: #4FC3F7;
    padding: 15px;

}

.c_foto img{
 width: 100%;/*fotoya ayrılan genişliğin yüzde kaçını kullanması için*/
 height: 85%;/*fotoya ayrılan yüksekliğin yüzde kaçını kullanması için*/
  object-fit: cover;/*kutuyu kaplıyor*/
  
}
.ceket_container button{
    border-radius: 20px;
    margin: 6px;
    font-size: large;
   font-weight: bold;
}

}


/*pantalon ürünlerinin tablette düzenlenmesi*/

@media (min-width:768px) and (max-width:1024px){
  

.ceket_container{
   
   width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;/*aynı satırda genişliği eşit 2 sütun*/
    gap:15px;/*kutular araında her yönden 10px boşluk bırakır*/
  box-sizing: border-box; /*taşmayı önler*/
   
   text-align: center;
    font-size:larger;
    font-weight: bold;
    margin: 8px;
    padding: 5px;

}


  
.c_foto {
    background-color: #4FC3F7;
    padding:20px;
}

.c_foto img{
 width: 100%;/*fotoya ayrılan genişliğin yüzde kaçını kullanması için*/
 height: 80%;/*fotoya ayrılan yüksekliğin yüzde kaçını kullanması için*/
  object-fit: cover;/*kutuyu kaplıyor*/
  
}
.ceket_container button{
    border-radius: 20px;
    margin: 5px;
    font-size: larger;
    font-weight: bold;
}

}


/*pantalon ürünlerinin bilgisayarda düzenlenmesi*/

@media (min-width:1025px){
   
.ceket_container{
     margin: 12px auto;
   width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/*aynı satırda genişliği eşit 3 sütun*/
    gap:15px;/*kutular araında her yönden 10px boşluk bırakır*/
  box-sizing: border-box; /*taşmayı önler*/
    border-radius: 20px;
    margin-left: 5px;
     text-align: center;
    font-size: x-large;
    font-weight: bold;
  

}


.c_foto {
    background-color: #4FC3F7;
    padding: 30px;

}

.c_foto img{
 width: 100%;/*fotoya ayrılan genişliğin tamamını kullanmak için*/
 height: 90%;/*fotoya ayrılan yüksekliğin belirli bir yüzdeliğini kullanmak için*/
  object-fit: cover;/*kutuyu kaplıyor*/
  
}
.ceket_container button{
    border-radius: 20px;
    margin: 7px;
    font-size:x-large ;
    font-weight: bold;
}

}
