



/*hero bölümünün mobilde görünüşünün ayarlanması*/
@media (min-width:320px) and (max-width:767px){
   

#hero{
   
        margin: 20px auto;
     display:grid;
   grid-template-rows: auto auto; /*satır yükeskliği içerik yüksekliğine göre*/
     justify-content:center; /*yatayda ortalar*/
     align-content: center; /*dikeyde ortalar*/
     
}



#hero button{
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    margin:5px;
    padding: 3px;
}

#hero_foto{
    height:auto;/*resim yüksekliği içerikle uyumlu*/
    margin: 25px;
    animation: yukariaşagi 3s ease-in-out infinite;
}



@keyframes yukariaşagi {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); 
  }
}

#hero_foto img{
 width: 100%;
 height: 100%;
 object-fit: cover; /*resim bulunduğu alanı kaplasın*/
    border: 2px solid black;
    border-radius: 10px;
}
#hero #hero_aciklama{
    width: 100%;
    text-align: center;
    text-transform: uppercase; /*büyük harf*/
    display: flex;
    flex-direction: column; /*yazıların dikey olarak alt alta yazılması*/
   gap: 10px;
  
}
#hero #hero_aciklama div{
    width: 100%;
    text-align: center;
    text-transform: uppercase; /*büyük harf*/
  
  
}

h1{
    font-size: 18px;
    margin: 0px;
}

}


/*nav etiketinin ve hero bölümünün tablet ve pc de ayarlanması*/
@media (min-width:768px){
 
#hero{
    margin: 20px auto;
     display: grid;
   grid-template-columns:1fr 1fr;/*yazı bölümüne 3te 1 image bölümüne 3te 2*/
     box-sizing: border-box;
    gap: 5px;
        justify-content: center; /*yatayda ortalar*/
        align-items: center; /*dikeyde ortalar*/
     height: 400px;
}


#hero div{
 padding: 20px;
 
}

#hero button{
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

#hero_foto {
height: 100%;
animation: yukariaşagi 3s ease-in-out infinite; 
}



@keyframes yukariaşagi {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); 
  }
}


#hero_foto img{
 width: 100%;
 height: 100%;
  object-fit: cover;
  border: 2px solid black;
 border-radius: 10px;
 
}

#hero #hero_aciklama{
    width: 100%;
    text-align: center;
    text-transform: uppercase; /*büyük harf*/
     display: flex;
     flex-direction: column;
     justify-content: center;
        align-items: center;
    margin-left: 10px;
}

#hero #hero_aciklama div{
    width: 100%;
     height: 100%;
    text-align: center;
    text-transform: uppercase; /*büyük harf*/
    padding: 5px;
   
}

h1{
      font-size: 20px;
    margin: 7px;
}

}
