



/*nav etiketinin ve hero bölümünün mobilde görünüşünün ayarlanması*/
@media (min-width:320px) and (max-width:767px){
   

#hero{
   
       
    
     display:grid;
   grid-template-rows: auto auto; /*satır yükeskliği içerik yüksekliğine göre*/
     box-sizing: border-box; 
     justify-content:center; /*yatayda ortalar*/
     align-content: center; /*dikeyde ortalar*/
     
}



#hero button{
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    margin:5px;
    padding: 3px;
}

#hero_foto{
    height:auto;/*resim yüksekliği içerikle uyumlu*/
    margin: 25px;
}

#hero_foto img{
 width: 100%;
 height: 100%;
 object-fit: cover; /*resim bulunduğu alanı kaplasın*/
}
#hero #hero_aciklama{
    width: 100%;
    text-align: center;
    text-transform: uppercase; /*büyük harf*/
    display: flex;
    flex-direction: column; /*yazıların dikey olarak alt alta yazılması*/
   gap: 20px;
  
}
#hero #hero_aciklama div{
    width: 100%;
    text-align: center;
    text-transform: uppercase; /*büyük harf*/
  
  
}

h1{
    font-size: 18px;
    margin: 0px;
}

}


/*nav etiketinin ve hero bölümünün tablet ve pc de ayarlanması*/
@media (min-width:768px){
 
#hero{
    margin: 5px auto;
    
     display: grid;
   grid-template-columns: 1fr 2fr;/*yazı bölümüne 3te 1 image bölümüne 3te 2*/
     box-sizing: border-box;
    gap: 20px;
    
     
}

#hero div{
  padding: 7px;
   
}

#hero button{
    border-radius: 30px;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
}

#hero_foto {
height: 100%;
 
}

#hero_foto img{
 width: 100%;
 height: 100%;
  object-fit: cover;
}
#hero #hero_aciklama{
    width: 100%;
    text-align: center;
    text-transform: uppercase; /*büyük harf*/
     display: flex;
     flex-direction: column;
     justify-content: center;
  
}
#hero #hero_aciklama div{
    width: 100%;
    text-align: center;
    text-transform: uppercase; /*büyük harf*/
   
    margin: 10px;
}
h1{
      font-size: 25px;
    margin: 7px;
}

}