



.dark-mode .uruncontainer{
    background-color: #0097A7 !important;
  
}

.dark-mode .toplamtutarcontainer{
    background-color: #c2cece !important;
}

@media (min-width:320px) and (max-width:767px){



.sepetcontainer{
    display:flex;
   justify-self: center;
   align-items: center;
   flex-direction: column;
    gap: 20px;
    visibility: hidden;
    margin: 20px auto;
     flex-wrap: wrap;
     width: 95%;
     flex-wrap: wrap;
}
   .uruncontainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 300px;
    padding: 5px;
    background-color: #00BCD4;
    border-radius: 8px;
    
   }

    .fotocontainer{
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .urunfoto{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .urunaciklama{
        width: 30%;
        height: 100%;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 15px;
    }
    
    .urunaciklama h1{
        font-size: 16px;
        margin: 0;
    }
    
    .urunaciklama h2{
        font-size:20px;
        margin: 0;
        font-weight: bold;
    }

    .sayaccontainer{
        display: flex;
        flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 10px;
       margin: 10px;
       width: 10%;
    }

   .sayac,.arttir,.azalt{
    font-size: 20px;
    padding: 5px 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   }    
 

   .toplamtutarcontainer{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dbd2d8;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
   margin: 10px 40px;
   
     
   }
   
}


@media (min-width:768px) and (max-width:1024px){


.sepetcontainer{
    display:flex;
   justify-self: center;
   align-items: center;
   flex-direction: row;
    gap: 20px;
    visibility: hidden;
    margin: 20px auto;
     flex-wrap: wrap;
     width: 95%;
}
   .uruncontainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:45%;
    height: 300px;
    padding: 5px;
    background-color:#00BCD4;
    border-radius: 8px;
   
   }

    .fotocontainer{
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .urunfoto{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .urunaciklama{
        width: 30%;
        height: 100%;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 15px;
    }
    
    .urunaciklama h1{
        font-size: 16px;
        margin: 0;
    }
    
    .urunaciklama h2{
        font-size:20px;
        margin: 0;
        font-weight: bold;
    }

    .sayaccontainer{
        display: flex;
        flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 10px;
       margin: 10px;
       width: 10%;
    }

   .sayac,.arttir,.azalt{
    font-size: 20px;
    padding: 5px 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   }    


   
  
   .toplamtutarcontainer{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dbd2d8;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
   margin: 10px 40px;
   
     
   }
   

}


@media (min-width:1025px){

.sepetcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 20px;
    visibility: hidden;
    margin: 20px auto;
     width: 90%;
     flex-wrap: wrap;
    
}
   .uruncontainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
   flex: 1 1 300px;
   max-width: 32%;
    height: 300px;
    padding: 5px;
    background-color: #00BCD4;
    border-radius: 8px;
   
   }

    .fotocontainer{
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .urunfoto{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .urunaciklama{
        width: 30%;
        height: 100%;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 15px;
        align-items: center;
    }
    
    .urunaciklama h1{
        font-size: 20px;
        margin: 0;
    }
    
    .urunaciklama h2{
        font-size:20px;
        margin: 0;
        font-weight: bold;
    }

    .sayaccontainer{
        display: flex;
        flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 10px;
       margin: 10px;
       width: 10%;
    }

   .sayac,.arttir,.azalt{
    font-size: 20px;
    padding: 5px 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   }    

   
   .toplamtutarcontainer{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbd2d8;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    margin:10px 40px;
   }

    
   
}
