
nav h1{
    color: palevioletred;
}

body{
    background-color: #80D8FF;
}

button{
     background-color:	#00B0FF ;
}

a{
    text-decoration: none;
}

.disabled{
    color: darkgray;
}

/*nav etiketinin  ve fiyatlandırma kartının mobilde görünüşünün ayarlanması*/
@media (min-width:320px) and (max-width:767px){
   nav{
         
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;/* öğeler arasında eşit mesafeler bırakır , tüm boşluklar eşit*/
   align-items:center;/*karşıt ekseni ortalar*/
    padding: 10px;
   
   }
   nav a{
    
    width: 25%;
    text-align: center;
    margin: 7px;
    
     border: 2px solid 	#B3E5FC;
    border-radius: 30px;
    background-color: 	#B3E5FC;
    margin: 3px;
}


#hero{
   
       
      
     display:grid;
   grid-template-rows: auto auto; /*satır yükeskliği içerik yüksekliğine göre*/
     box-sizing: border-box; 
     justify-content:center; /*yatayda ortalar*/
     align-content: center; /*dikeyde ortalar*/
     
}



#hero button{
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    margin:5px;
    padding: 3px;
}

#hero_foto{
    height:auto;/*resim yüksekliği içerikle uyumlu*/
}

#hero_foto img{
 width: 100%;
 height: 100%;
 object-fit: cover; /*resim bulunduğu alanı kaplasın*/
}
#hero #hero_aciklama{
    width: 100%;
    text-align: center;
    text-transform: uppercase; /*büyük harf*/
    display: flex;
    flex-direction: column; /*yazıların dikey olarak alt alta yazılması*/
   gap: 20px;
  
}
#hero #hero_aciklama div{
    width: 100%;
    text-align: center;
    text-transform: uppercase; /*büyük harf*/
  
  
}
h1{
    font-size: 18px;
    margin: 0px;
}


.pricing-wrapper{
    display:grid ;
    grid-template-columns: 1fr ;/*mevcut genişliği bir kutunun genişliği için kullanır*/
    row-gap: 10px; /*alt alta duran iki kutu arası mesafe*/
   
    
}

.pricing-wrapper .card,.card-popular{
   height: auto;
   border: 3px solid black;
   border-radius: 30px;
  display: flex;/*kartların içindeki yapıları hizalayabilmek için*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
   background-color:#0097A7;
  
}
.main-container .page-header{
    text-align: center;
}

ul {
    list-style: none;
}

.back-link{
    margin: 20px;
    text-align: start;
    border: 2px solid #B3E5FC;
    border-radius: 25px;
    background-color:#B3E5FC;
    display: inline-block; /*div e inline ve nlock özellikleri verilmesi için*/

}

.card-footer,.badge{
    margin: 15px;
}



.pricing-wrapper .card-footer{
    display: flex;
    flex-direction:row;
      margin-top: auto;/*alta iter*/
    /*card footerlerin kart içinde ortalanması için*/
   align-items: center;
   justify-content: center;
   
}

}


/*nav etiketinin ve fiyatlandırma kartının tablet ve pc de görünüşünün ayarlanması*/
@media (min-width:768px){
 nav{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;/* öğeler arasında eşit mesafeler bırakır , tüm boşluklar eşit*/
   align-items:center;/*karşıt ekseni ortalar*/
    padding: 10px;
   
}
nav a{
   
    width: 15%;
    text-align: center;
    border: 2px solid 	#B3E5FC;
    border-radius: 30px;
    background-color: 	#B3E5FC;
    margin: 3px;
   
}
#hero{
    margin: 0px auto;
    
     display: grid;
   grid-template-columns: 1fr 2fr;
     box-sizing: border-box;
    gap: 20px;
    
     
}

#hero div{
  padding: 7px;
   
}

#hero button{
    border-radius: 30px;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
}

#hero_foto {
height: 100%;
 
}

#hero_foto img{
 width: 100%;
 height: 100%;
  object-fit: cover;
}
#hero #hero_aciklama{
    width: 100%;
    text-align: center;
    text-transform: uppercase; /*büyük harf*/
     display: flex;
     flex-direction: column;
     justify-content: center;
  
}
#hero #hero_aciklama div{
    width: 100%;
    text-align: center;
    text-transform: uppercase; /*büyük harf*/
   
    margin: 10px;
}
h1{
      font-size: 25px;
    margin: 7px;
}

#but{
   align-self: flex-end;/*en sona yerleşir*/
  
}


.pricing-wrapper{
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr;/*eşit yüksekliğe sahip 3 sütun*/
    column-gap: 30px;/*sütunlar arasında boşluk*/
   align-items: stretch;
    
}

.pricing-wrapper .card,.card-popular{
   /*kartlara şekil vermek için*/
   border: 3px solid black;
   border-radius: 30px;
    height: 100%; /*align-items:stretch ile brlikte kartların eşit yükekliğe sahip olmasını sağlar*/
 display: flex;/*kartların içindeki yapıları hizalayabilmek için*/
 flex-direction: column;
 background-color:#0097A7;

  justify-content: center;
   align-items: center;
}


  
  .card-header,.badge{
    text-align: center;
  }


.main-container .page-header{
    text-align: center;
}

ul {
    list-style: none;
}

.back-link{
    margin: 25px;
    text-align: start;/*başa hizalar*/
    border: 3px solid #B3E5FC;
    border-radius: 25px;
    background-color: #B3E5FC;
    display: inline-block; /*div e inline ve block özellikleri verilmesi için*/
}


.pricing-wrapper .card-footer{
    display: flex;
    flex-direction:row;
   margin-top: auto;/*alta iter*/
    /*card footerlerin kart içinde ortalanması için*/
   align-items: center;
   justify-content: center;
   
}

.card-footer,.badge{
    margin: 5px;
   
}


}




/*ürünlein farklı cihazlarda düzenlenmesi*/
@media (min-width:320px) and (max-width:767px) {
    .tshirt_container{
     margin: 0px auto;
   width: 100%;
    display: grid;
    grid-template-columns: 1fr  ;/*aynı satırda genişliği eşit 3 sütun*/
    gap:5px;/*kutular araında her yönden 10px boşluk bırakır*/
  box-sizing: border-box; /*taşmayı önler*/
   
    text-align: center;
    font-size:large;
    font-weight: bold;

}


  
.t_foto {
    background-color: aqua;
    padding: 15px;

}

.t_foto img{
 width: 100%;/*fotoya ayrılan genişliğin yüzde kaçını kullanması için*/
 height: 85%;/*fotoya ayrılan yüksekliğin yüzde kaçını kullanması için*/
  object-fit: cover;/*kutuyu kaplıyor*/
  
}
.tshirt_container button{
    border-radius: 20px;
    margin: 6px;
    font-size: large;
   font-weight: bold;
}

 .pantalon_container{
     margin: 0px auto;
   width: 100%;
    display: grid;
    grid-template-columns: 1fr  ;/*aynı satırda genişliği eşit 3 sütun*/
    gap:5px;/*kutular araında her yönden 10px boşluk bırakır*/
  box-sizing: border-box; /*taşmayı önler*/
   
    text-align: center;
    font-size:large;
    font-weight: bold;

}


  
.p_foto {
    background-color: aqua;
    padding: 15px;

}

.p_foto img{
 width: 100%;/*fotoya ayrılan genişliğin yüzde kaçını kullanması için*/
 height: 85%;/*fotoya ayrılan yüksekliğin yüzde kaçını kullanması için*/
  object-fit: cover;/*kutuyu kaplıyor*/
  
}
.pantalon_container button{
    border-radius: 20px;
    margin: 6px;
    font-size: large;
   font-weight: bold;
}

 .kazak_container{
     margin: 0px auto;
   width: 100%;
    display: grid;
    grid-template-columns: 1fr  ;/*aynı satırda genişliği eşit 3 sütun*/
    gap:5px;/*kutular araında her yönden 10px boşluk bırakır*/
  box-sizing: border-box; /*taşmayı önler*/
   
    text-align: center;
    font-size:large;
    font-weight: bold;

}


  
.k_foto {
    background-color: aqua;
    padding: 15px;

}

.k_foto img{
 width: 100%;/*fotoya ayrılan genişliğin yüzde kaçını kullanması için*/
 height: 85%;/*fotoya ayrılan yüksekliğin yüzde kaçını kullanması için*/
  object-fit: cover;/*kutuyu kaplıyor*/
  
}
.kazak_container button{
    border-radius: 20px;
    margin: 6px;
    font-size: large;
   font-weight: bold;
}


.ak_container{
     margin: 0px auto;
   width: 100%;
    display: grid;
    grid-template-columns: 1fr  ;/*aynı satırda genişliği eşit 3 sütun*/
    gap:5px;/*kutular araında her yönden 10px boşluk bırakır*/
  box-sizing: border-box; /*taşmayı önler*/
   
    text-align: center;
    font-size:large;
    font-weight: bold;

}


  
.ak_foto {
    background-color: aqua;
    padding: 15px;

}

.ak_foto img{
 width: 100%;/*fotoya ayrılan genişliğin yüzde kaçını kullanması için*/
 height: 85%;/*fotoya ayrılan yüksekliğin yüzde kaçını kullanması için*/
  object-fit: cover;/*kutuyu kaplıyor*/
  
}
.ak_container button{
    border-radius: 20px;
    margin: 6px;
    font-size: large;
   font-weight: bold;
}


 .ceket_container{
     margin: 0px auto;
   width: 100%;
    display: grid;
    grid-template-columns: 1fr  ;/*aynı satırda genişliği eşit 3 sütun*/
    gap:5px;/*kutular araında her yönden 10px boşluk bırakır*/
  box-sizing: border-box; /*taşmayı önler*/
   
    text-align: center;
    font-size:large;
    font-weight: bold;

}


  
.c_foto {
    background-color: aqua;
    padding: 15px;

}

.c_foto img{
 width: 100%;/*fotoya ayrılan genişliğin yüzde kaçını kullanması için*/
 height: 85%;/*fotoya ayrılan yüksekliğin yüzde kaçını kullanması için*/
  object-fit: cover;/*kutuyu kaplıyor*/
  
}
.ceket_container button{
    border-radius: 20px;
    margin: 6px;
    font-size: large;
   font-weight: bold;
}


 .ay_container{
     margin: 0px auto;
   width: 100%;
    display: grid;
    grid-template-columns: 1fr  ;/*aynı satırda genişliği eşit 3 sütun*/
    gap:5px;/*kutular araında her yönden 10px boşluk bırakır*/
  box-sizing: border-box; /*taşmayı önler*/
   
    text-align: center;
    font-size:large;
    font-weight: bold;

}


  
.ay_foto {
    background-color: aqua;
    padding: 15px;

}

.ay_foto img{
 width: 100%;/*fotoya ayrılan genişliğin yüzde kaçını kullanması için*/
 height: 85%;/*fotoya ayrılan yüksekliğin yüzde kaçını kullanması için*/
  object-fit: cover;/*kutuyu kaplıyor*/
  
}
.ay_container button{
    border-radius: 20px;
    margin: 6px;
    font-size: large;
   font-weight: bold;
}


}


@media (min-width:768px) and (max-width:1024px){
.tshirt_container{
   
   width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;/*aynı satırda genişliği eşit 2 sütun*/
    gap:10px;/*kutular araında her yönden 10px boşluk bırakır*/
  box-sizing: border-box; /*taşmayı önler*/
   
   text-align: center;
    font-size:xx-large;
    font-weight: bold;
    margin: 8px;
    padding: 5px;

}


  
.t_foto {
    background-color: aqua;
    padding:20px;
}

.t_foto img{
 width: 100%;/*fotoya ayrılan genişliğin yüzde kaçını kullanması için*/
 height: 80%;/*fotoya ayrılan yüksekliğin yüzde kaçını kullanması için*/
  object-fit: cover;/*kutuyu kaplıyor*/
  
}
.tshirt_container button{
    border-radius: 20px;
    margin: 5px;
    font-size: xx-large;
    font-weight: bold;
}

.pantalon_container{
   
   width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;/*aynı satırda genişliği eşit 3 sütun*/
    gap:10px;/*kutular araında her yönden 10px boşluk bırakır*/
  box-sizing: border-box; /*taşmayı önler*/
   
   text-align: center;
    font-size:xx-large;
    font-weight: bold;
    margin: 8px;
    padding: 5px;

}


  
.p_foto {
    background-color: aqua;
    padding:20px;
}

.p_foto img{
 width: 100%;/*fotoya ayrılan genişliğin yüzde kaçını kullanması için*/
 height: 80%;/*fotoya ayrılan yüksekliğin yüzde kaçını kullanması için*/
  object-fit: cover;/*kutuyu kaplıyor*/
  
}
.pantalon_container button{
    border-radius: 20px;
    margin: 5px;
    font-size: xx-large;
    font-weight: bold;
}

.kazak_container{
   
   width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;/*aynı satırda genişliği eşit 3 sütun*/
    gap:10px;/*kutular araında her yönden 10px boşluk bırakır*/
  box-sizing: border-box; /*taşmayı önler*/
   
   text-align: center;
    font-size:xx-large;
    font-weight: bold;
    margin: 8px;
    padding: 5px;

}


  
.k_foto {
    background-color: aqua;
    padding:20px;
}

.k_foto img{
 width: 100%;/*fotoya ayrılan genişliğin yüzde kaçını kullanması için*/
 height: 80%;/*fotoya ayrılan yüksekliğin yüzde kaçını kullanması için*/
  object-fit: cover;/*kutuyu kaplıyor*/
  
}
.kazak_container button{
    border-radius: 20px;
    margin: 5px;
    font-size: xx-large;
    font-weight: bold;
}

.ak_container{
   
   width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;/*aynı satırda genişliği eşit 3 sütun*/
    gap:10px;/*kutular araında her yönden 10px boşluk bırakır*/
  box-sizing: border-box; /*taşmayı önler*/
   
   text-align: center;
    font-size:xx-large;
    font-weight: bold;
    margin: 8px;
    padding: 5px;

}


  
.ak_foto {
    background-color: aqua;
    padding:20px;
}

.ak_foto img{
 width: 100%;/*fotoya ayrılan genişliğin yüzde kaçını kullanması için*/
 height: 80%;/*fotoya ayrılan yüksekliğin yüzde kaçını kullanması için*/
  object-fit: cover;/*kutuyu kaplıyor*/
  
}
.ak_container button{
    border-radius: 20px;
    margin: 5px;
    font-size: xx-large;
    font-weight: bold;
}


.ceket_container{
   
   width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;/*aynı satırda genişliği eşit 2 sütun*/
    gap:10px;/*kutular araında her yönden 10px boşluk bırakır*/
  box-sizing: border-box; /*taşmayı önler*/
   
   text-align: center;
    font-size:xx-large;
    font-weight: bold;
    margin: 8px;
    padding: 5px;

}


  
.c_foto {
    background-color: aqua;
    padding:20px;
}

.c_foto img{
 width: 100%;/*fotoya ayrılan genişliğin yüzde kaçını kullanması için*/
 height: 80%;/*fotoya ayrılan yüksekliğin yüzde kaçını kullanması için*/
  object-fit: cover;/*kutuyu kaplıyor*/
  
}
.ceket_container button{
    border-radius: 20px;
    margin: 5px;
    font-size: xx-large;
    font-weight: bold;
}

.ay_container{
   
   width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;/*aynı satırda genişliği eşit 2 sütun*/
    gap:10px;/*kutular araında her yönden 10px boşluk bırakır*/
  box-sizing: border-box; /*taşmayı önler*/
   
   text-align: center;
    font-size:xx-large;
    font-weight: bold;
    margin: 8px;
    padding: 5px;

}


  
.ay_foto {
    background-color: aqua;
    padding:20px;
}

.ay_foto img{
 width: 100%;/*fotoya ayrılan genişliğin yüzde kaçını kullanması için*/
 height: 80%;/*fotoya ayrılan yüksekliğin yüzde kaçını kullanması için*/
  object-fit: cover;/*kutuyu kaplıyor*/
  
}
.ay_container button{
    border-radius: 20px;
    margin: 5px;
    font-size: xx-large;
    font-weight: bold;
}

}

@media (min-width:1025px) {
    .tshirt_container{
     margin: 0px auto;
   width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/*aynı satırda genişliği eşit 3 sütun*/
    gap:10px;/*kutular arasında her yönden 10px boşluk bırakır*/
  box-sizing: border-box; /*taşmayı önler*/
    border-radius: 20px;
    margin-left: 5px;
     text-align: center;
    font-size: large;
    font-weight: bold;
  

}


.t_foto {
    background-color: aqua;
    padding: 30px;

}

.t_foto img{
 width: 100%;/*fotoya ayrılan genişliğin tamamını kullanmak için*/
 height: 90%;/*fotoya ayrılan yüksekliğin tamamını kullanmak için*/
  object-fit: cover;/*kutuyu kaplıyor*/
  
}
.tshirt_container button{
    border-radius: 20px;
    margin: 7px;
    font-size:large ;
    font-weight: bold;
}

 .pantalon_container{
     margin: 0px auto;
   width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/*aynı satırda genişliği eşit 3 sütun*/
    gap:10px;/*kutular araında her yönden 10px boşluk bırakır*/
  box-sizing: border-box; /*taşmayı önler*/
    border-radius: 20px;
    margin-left: 5px;
     text-align: center;
    font-size: large;
    font-weight: bold;
  

}


.p_foto {
    background-color: aqua;
    padding: 30px;

}

.p_foto img{
 width: 100%;/*fotoya ayrılan genişliğin tamamını kullanmak için*/
 height: 90%;/*fotoya ayrılan yüksekliğin tamamını kullanmak için*/
  object-fit: cover;/*kutuyu kaplıyor*/
  
}
.pantalon_container button{
    border-radius: 20px;
    margin: 7px;
    font-size:large ;
    font-weight: bold;
}

.kazak_container{
     margin: 0px auto;
   width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/*aynı satırda genişliği eşit 3 sütun*/
    gap:10px;/*kutular araında her yönden 10px boşluk bırakır*/
  box-sizing: border-box; /*taşmayı önler*/
    border-radius: 20px;
    margin-left: 5px;
     text-align: center;
    font-size: large;
    font-weight: bold;
  

}


.k_foto {
    background-color: aqua;
    padding: 30px;

}

.k_foto img{
 width: 100%;/*fotoya ayrılan genişliğin tamamını kullanmak için*/
 height: 90%;/*fotoya ayrılan yüksekliğin tamamını kullanmak için*/
  object-fit: cover;/*kutuyu kaplıyor*/
  
}
.kazak_container button{
    border-radius: 20px;
    margin: 7px;
    font-size:large ;
    font-weight: bold;
}

 .ak_container{
     margin: 0px auto;
   width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/*aynı satırda genişliği eşit 3 sütun*/
    gap:10px;/*kutular araında her yönden 10px boşluk bırakır*/
  box-sizing: border-box; /*taşmayı önler*/
    border-radius: 20px;
    margin-left: 5px;
     text-align: center;
    font-size: large;
    font-weight: bold;
  

}


.ak_foto {
    background-color: aqua;
    padding: 30px;

}

.ak_foto img{
 width: 100%;/*fotoya ayrılan genişliğin tamamını kullanmak için*/
 height: 90%;/*fotoya ayrılan yüksekliğin tamamını kullanmak için*/
  object-fit: cover;/*kutuyu kaplıyor*/
  
}
.ak_container button{
    border-radius: 20px;
    margin: 7px;
    font-size:large ;
    font-weight: bold;
}


.ceket_container{
     margin: 0px auto;
   width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/*aynı satırda genişliği eşit 3 sütun*/
    gap:10px;/*kutular araında her yönden 10px boşluk bırakır*/
  box-sizing: border-box; /*taşmayı önler*/
    border-radius: 20px;
    margin-left: 5px;
     text-align: center;
    font-size: large;
    font-weight: bold;
  

}


.c_foto {
    background-color: aqua;
    padding: 30px;

}

.c_foto img{
 width: 100%;/*fotoya ayrılan genişliğin tamamını kullanmak için*/
 height: 90%;/*fotoya ayrılan yüksekliğin tamamını kullanmak için*/
  object-fit: cover;/*kutuyu kaplıyor*/
  
}
.ceket_container button{
    border-radius: 20px;
    margin: 7px;
    font-size:large ;
    font-weight: bold;
}

.ay_container{
     margin: 0px auto;
   width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/*aynı satırda genişliği eşit 3 sütun*/
    gap:10px;/*kutular araında her yönden 10px boşluk bırakır*/
  box-sizing: border-box; /*taşmayı önler*/
    border-radius: 20px;
    margin-left: 5px;
     text-align: center;
    font-size: large;
    font-weight: bold;
  

}


.ay_foto {
    background-color: aqua;
    padding: 30px;

}

.ay_foto img{
 width: 100%;/*fotoya ayrılan genişliğin tamamını kullanmak için*/
 height: 90%;/*fotoya ayrılan yüksekliğin tamamını kullanmak için*/
  object-fit: cover;/*kutuyu kaplıyor*/
  
}
.ay_container button{
    border-radius: 20px;
    margin: 7px;
    font-size:large ;
    font-weight: bold;
}

}
