

.teklif_container{
    padding: 15px;
    margin: 20px;
     display: flex;
     flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgb(9, 174, 240);
   color: blue;
}

.teklif_container p{
     justify-content: center;
   align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.cbimg{
   margin: 5px;
    width: 180px;
   height: 250px;
   justify-content: center;
   text-align: center;
}

.cbimg img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}


.cbcontainer{
    margin: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
 
}

.cbayakkabi,.cbceket,.cbkazak,.cbaksesuar,.cbpantalon,.cbtshirt{
     display: flex;
     justify-content: center;
     align-items: center;
      flex-wrap: wrap;
}

.cbfiyatcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.cbfiyat{
    width: 700px;
    background-color: cadetblue;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
}